.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

 @media screen and (max-width: 1023px) {
  .header {
    min-height: 66px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 56px;
    width: 100%;
  }
}