.popup__save-button {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background-color: #000000;
  color: #ffffff;
  min-height: 50px;
  margin-top: 15px;
  border: none;
  border-radius: 2px;
  padding: 0;
}

.popup__save-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    min-height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
