.footer__copyright {
  color: #545454;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    max-width: calc(100% - 19px * 2);
    margin: auto;
  }
}
