.burger-button__line {
  width: 24px;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.burger-button__line::before {
  width: 24px;
  height: 3px;
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  background-color: #fff;
  transition: all 0.4s ease-out;
}

.burger-button__line::after {
  width: 24px;
  height: 3px;
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  background-color: #fff;
  transition: all 0.4s ease-out;
}
