.profile__edit-button {
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  background: url(../../../images/editButton.png);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
